/************************** Colours **************************/
$primary: #364350;
$secondary: #aaafb4;
$primary-trans: rgba(239, 240, 241,0.1);
$button: #4ebbb5;

/************************** Default **************************/
*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    padding: 0;
    margin: 0 auto;
}

body {
    color: $primary;
    font-family: 'Montserrat', 'Raleway', sans-serif;
}

main {
    background-color: #fdfdfd;
}

/************************** Header **************************/
header {
    background-color: $primary;

    h1 {
        padding: 25px 0;

        color: #FFFFFF;
        text-align: center;
        text-transform: uppercase; 
    }
}

/************************** Form **************************/
.form-intro {
    padding-top: 20px;
    margin-bottom: 5px;
    text-align: center;

    background-color: #fdfdfd;
    border-bottom: 5px solid $primary;

    h2 {
        padding-bottom: 10px;

        font-size: 1.5em;
    }

    p {
        padding: 0 20px 30px 20px;
        
        color: $secondary;
        font-size: 1.1em;
    }

}

.newsletter-form {
    padding: 0 20px 60px 20px;
    margin-top: 5px;
    
    background-color: #fdfdfd;

    form {
        border-top: 1px solid $primary;
    }


    legend {
        padding: 25px 0;
        margin: 0;

        font-size: 1.6em;
        font-weight: bold;
    }

    fieldset {
        border: none;
    }

    label {
        display: inline-block;
        margin-bottom: 8px;
        padding: 5px 0;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea,
    select {
        padding: 15px;
        margin-bottom: 30px;
        width: 100%;
        height: auto;

        color: #8a97a0;
        border: none;
        font-size: 16px;

        background-color: #e8eeef;
        box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
        border-radius: 5px;
        outline: none;

        transition: background-color 750ms ease-in;
    }

    input[type="radio"],
    input[type="checkbox"] {
        margin: 0 4px 8px 0;
    }

    select {
        padding: 6px;
        height: 32px;

        border-radius: 5px;
    }

    textarea {
        height: 130px;
    }

    #state {
        height: 50px;
    }

    button {
          width: 100%;
          height: 60px;

          color: #FFFFFF;
          font-size: 1.3em;

          background-color: $button;
          border: none;
          border-radius: 5px;

          cursor: pointer;
    }

    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="tel"]:focus,
    textarea:focus,
    select:focus {
        border-bottom: 1px solid $primary;

        background-color: #d3dddf;
        outline:1px solid $primary-trans;
        box-shadow: 0 0 10px rgb(211, 232, 255);
    }

    ::-webkit-input-placeholder {
        font-size: 0.8em;
        text-align: right;
      }
      
    :-ms-input-placeholder { 
        font-size: 0.8em;
        text-align: right;
    }
      
    ::placeholder {
        font-size: 0.8em;
        text-align: right;
    }

    #copyright {
        padding-top: 35px;

        color: $secondary;
        font-size: 0.9em;
        text-align: center;
    }

    hr {
        border: 1px solid $primary;
    }

}

/************************** Media Query **************************/
@media (min-width: 768px) {

    * {
        max-width: 768px;
    }


    .form-top {
        position: relative;
    }

    .form-top label {
        position: absolute;
        padding-top: 15px;
        left: 0;   
    }

    .form-top input,
    .form-top select {
        margin-left: 200px;
    }

    .form-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: space-between;
    }

}